.header {
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 1rem;
}

.header strong {
  font-weight: 700;
  font-size: 1.6rem;

}